    <!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">
                <a href="http://www.tanasan.co.th" target="_blank">Powered by ASP.NET Core 1.1 Technology</a>
            </span>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->