﻿<h5 class="text-center">- Social Media -</h5>
<ul class="list-inline text-center">
    <li>
        <a href="https://www.facebook.com/dep.go.th/?rf=1673687142859123" target="_blank" class="btn btn-primary btn-circle" title="กรมส่งเสริมและพัฒนาคุณภาพชีวิตคนพิการ" alt="www.facebook.com">
            <i class="fa fa-facebook"></i>
        </a>
    </li>
    <li>
        <a href="https://www.youtube.com/channel/UCwf7XwAtHvixhM7WSX_hEjg/videos" target="_blank" class="btn btn-info btn-circle" title="กรมส่งเสริมและพัฒนาคุณภาพชีวิตคนพิการ" alt="www.youtube.com">
            <i class="fa fa-youtube-play"></i>
        </a>
    </li>
</ul>