@{
    ViewData["Title"] = "ระบบบริหารลูกค้าสัมพันธ์";
}



<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-home"></i> ระบบบริหารลูกค้าสัมพันธ์ 
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-sm-6 col-lg-8">

                <div id="Customers"></div>

                <div id="Users"></div>

            </div>

            <div class="col-sm-6 col-lg-4">
               
                <div id="BestSellers"></div>

                @*<div class="panel panel-default">
                    <div class="panel-body status smart-form vote">
                        <div class="who clearfix">
                            <img src="img/avatars/3.png" alt="img" class="offline">
                            <span class="name"><b>Alliz Yaen</b> started a question poll</span>
                            <span class="from"><b>2 days ago</b> via Mobile, Sydney, Australia</span>
                        </div>
                        <div class="image">
                            <strong>How did you guys like the movie <i>"Albert The Einstine?"</i> I reckon it was an awesome movie! </strong>
                        </div>
                        <ul class="comments">
                            <li>
                                <label class="radio">
                                    <input type="radio" name="radio">
                                    <i></i>It was a great movie!
                                </label>
                            </li>
                            <li>
                                <label class="radio">
                                    <input type="radio" name="radio">
                                    <i></i>The Movie could have been better...
                                </label>
                            </li>
                            <li>
                                <label class="radio">
                                    <input type="radio" name="radio">
                                    <i></i>It was a boring documentry :(
                                </label>
                            </li>
                            <li class="text-right">
                                <a href="javascript:void(0);" class="btn btn-xs btn-primary">Submit Vote</a>
                            </li>
                        </ul>

                        <ul class="links">
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-thumbs-o-up"></i> Like</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-comment-o"></i> Comment</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-share-square-o"></i> Share</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body status">
                        <div class="who clearfix">
                            <h4>Latest Forum Posts</h4>
                        </div>
                        <div class="who clearfix">
                            <img src="img/avatars/2.png" alt="img" class="busy">
                            <span class="name font-sm">
                                <span class="text-muted">Posted by</span> <b> Karrigan Mean <span class="pull-right font-xs text-muted"><i>3 minutes ago</i></span> </b>
                                <br>
                                <a href="javascript:void(0);" class="font-md">Business Requirement Docs</a>
                            </span>
                        </div>
                        <div class="who clearfix">
                            <img src="img/avatars/3.png" alt="img" class="offline">
                            <span class="name font-sm">
                                <span class="text-muted">Posted by</span> <b> Alliz Yaen <span class="pull-right font-xs text-muted"><i>2 days ago</i></span> </b>
                                <br>
                                <a href="javascript:void(0);" class="font-md">Maecenas nec odio et ante tincidun</a>
                            </span>
                        </div>
                        <div class="who clearfix">
                            <img src="img/avatars/4.png" alt="img" class="away">
                            <span class="name font-sm">
                                <span class="text-muted">Posted by</span> <b> Barley Kartzukh <span class="pull-right font-xs text-muted"><i>1 month ago</i></span> </b>
                                <br>
                                <a href="javascript:void(0);" class="font-md">Tincidun nec Gasket Mask </a>
                            </span>
                        </div>
                    </div>
                </div>*@

            </div>

        </div>
    </section>
</div>



@section Scripts{
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="~/js/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
    <script src="~/js/bootstrap-datepicker-thai.js"></script>
    <script src="~/js/bootstrap-datepicker.th.js"></script>
    <!-- bootstrapValidator Form -->
    <script src="~/js/plugin/bootstrapvalidator/bootstrapValidator.min.js"></script>
    <!-- JQUERY SELECT2 INPUT -->
    <script src="~/js/plugin/select2/select2.min.js"></script>
    <!-- JQUERY MASKED INPUT -->
    <script src="/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
    <!-- Custom -->
    <script src="~/js/customJS/home/Index.js"></script>
}