@model CRM.ViewModels.UsersManagement.AddUserViewModel

<div id="content">
    <section id="widget-grid" class="">
        <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
            <header>
                <h2><i class="fa fa-plus"></i> แก้ไขผู้ใช้งาน</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox">
                    <input class="form-control" type="text">
                </div>
                <div class="widget-body">

                    @* Form *@
                    <form id="FormEditUser" class="form-horizontal"
                          enctype="multipart/form-data"
                          asp-antiforgery="true"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                        <fieldset>
                            <legend style="color:red;">กรุณากรอกข้อมูลให้ครบถ้วน</legend>
                            <div class="form-group">
                                <label class="col-xs-3 col-md-3 col-lg-3 control-label">อีเมล</label>
                                <div class="col-xs-8 col-md-8 col-lg-8">
                                    <input class="form-control" type="email" asp-for="Email"
                                           placeholder="example@domain.com"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="กรุณากรอกอีเมล"
                                           data-bv-emailaddress="true"
                                           data-bv-emailaddress-message="อีเมลไม่ถูดต้อง" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-xs-3 col-md-3 col-lg-3 control-label">ชื่อ</label>
                                <div class="col-xs-8 col-md-8 col-lg-8">
                                    <input type="text" class="form-control" asp-for="FirstName"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="กรุณากรอกชื่อ" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-xs-3 col-md-3 col-lg-3 control-label">นามสกุล</label>
                                <div class="col-xs-8 col-md-8 col-lg-8">
                                    <input type="text" class="form-control" asp-for="LastName"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="กรุณากรอกนามสกุล" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-xs-3 col-md-3 col-lg-3 control-label">รหัสผ่าน</label>
                                <div class="col-xs-8 col-md-8 col-lg-8">
                                    <input type="password" class="form-control" asp-for="Password"
                                           placeholder="Password"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="กรุณากรอกรหัสผ่าน"
                                           data-bv-identical="true"
                                           data-bv-identical-field="confirmPassword"
                                           data-bv-identical-message="รหัสผ่านและการยืนยันจะไม่ตรงกัน"
                                           data-bv-stringlength="true"
                                           data-bv-stringlength-min="6"
                                           data-bv-stringlength-max="30"
                                           data-bv-stringlength-message="รหัสผ่านอย่างน้อย 6 ถึง 12" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-xs-3 col-md-3 col-lg-3 control-label">ยืนยันรหัสผ่าน</label>
                                <div class="col-xs-8 col-md-8 col-lg-8">
                                    <input type="password" class="form-control" asp-for="ConfirmPassword"
                                           placeholder="Confirm Password"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="กรุณากรอกยืนยันรหัสผ่าน"
                                           data-bv-identical="true"
                                           data-bv-identical-field="password"
                                           data-bv-identical-message="รหัสผ่านและการยืนยันจะไม่ตรงกัน"
                                           data-bv-stringlength="true"
                                           data-bv-stringlength-min="6"
                                           data-bv-stringlength-max="30"
                                           data-bv-stringlength-message="ยืนยันรหัสผ่านอย่างน้อย 6 ถึง 12" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-xs-3 col-md-3 col-lg-3 control-label">หมายเลขโทรศัพท์(มือถือ)</label>
                                <div class="col-xs-8 col-md-8 col-lg-8">
                                    <input class="form-control" type="text" asp-for="PhoneNumber" placeholder="09000000000"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="กรุณากรอกหมายเลขโทรศัพท์(มือถือ)"
                                           data-bv-stringlength="true"
                                           data-bv-stringlength-min="9"
                                           data-bv-stringlength-max="10"
                                           data-bv-stringlength-message="หมายเลขโทรศัพท์อย่างน้อย 9" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-xs-3 col-md-3 col-lg-3 control-label">รูปประจำตัว</label>
                                <div class="col-xs-8 col-md-8 col-lg-8">
                                    <input type="file" class="form-control" asp-for="PictureFile" accept="image/*">
                                </div>
                            </div>
                        </fieldset>
                        <input type="hidden" asp-for="UserId">
                        <input type="hidden" name="OldFile" value="@Model.PictureFile">
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-success" type="submit" id="submit">บันทึก</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <hr/>
    <!---- Partiaview UserRoles --->
    <div id="showuserRole"></div>
    <!---- End Partiaview UserRoles --->
</div>