@{
    Layout = "_Layout";
    ViewData["Title"] = "ระบบจัดการลูกค้า";

}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                <button class="btn btn-success" data-toggle="modal" id="add" data-target="#ButtonAdd"><i class="fa fa-plus"></i> เพิ่มข้อมูล</button>
                <button class="btn btn-warning"   id="license" ><i class="fa fa-plus"></i> เพิ่ม License</button>
                <button class="btn btn-danger" id="comment" ><i class="fa fa-plus"></i> เพิ่ม comment</button>
            </article>
        </div>
    </section>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewData["Title"]</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <!--- All Users -->
                            <div id="JsonShow"></div>
                            <!--------->
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@* lightbox *@
@* Create *@
<div class="modal fade" id="ButtonAdd" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="MomdalFormAdd"></div>
    </div>
</div>
@* end Create *@

@* Update *@
<div class="modal fade" id="ButtonEdit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="MomdalFormEdit"></div>
    </div>
</div>

@* import *@
<div class="modal fade" id="ButtonImport" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="MomdalFormImport"></div>
    </div>
</div>

@section Scripts{
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="~/js/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="~/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
    <script src="~/js/bootstrap-datepicker-thai.js"></script>
    <script src="~/js/bootstrap-datepicker.th.js"></script>
    <!-- bootstrapValidator Form -->
    <script src="~/js/plugin/bootstrapvalidator/bootstrapValidator.min.js"></script>
    <!-- JQUERY SELECT2 INPUT -->
    <script src="~/js/plugin/select2/select2.min.js"></script>
    <!-- JQUERY MASKED INPUT -->
    <script src="/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
    <!-- Custom -->
    <script src="~/js/customJS/customer/Index.js"></script>
}